<div class="col">
	<a href="{{ path('app_classedecours_consulter', {'id_classedecours' : classe.id}) }}" class="text-decoration-none link-dark">
		<div class="card card-custom bg-white border-white border-0">
			<div class="card-custom-img"></div>
			<div class="card-custom-avatar">
				<img class="img-fluid" src="{{ classe.enseignant.photoDeProfil is null ? asset("img/photo-avatar-profil.png") : vich_uploader_asset(classe.enseignant) }}" alt="Avatar"/>
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">{{ classe.titre|u.truncate(20, '...', true) }}</h4>
				<h6 class="lead small">
					{{ classe.formation.titre|upper }}
				</h6>
				<h6 class="card-subtitle mt-1 mb-2">
					<figcaption class="blockquote-footer my-0">
						Créee par
						<cite title="Source Title">{{ classe.enseignant.fullName }}</cite>
					</figcaption>
				</h6>
				<p class="card-text">
					{{ classe.description|u.truncate(23, '...', true) }}
				</p>
			</div>
			<div class="card-footer border-top bg-white">
				<small class="text-muted">Dernière modification,
					{{ classe.dateModification|ago(locale='fr') }}
				</small>
			</div>
		</div>
	</a>
</div>
