{% extends 'base.html.twig' %}

{% block title %}RegFormationOnline index{% endblock %}

{% block body %}
    <h1>RegFormationOnline index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EmailEtudiant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reg_formation_online in reg_formation_onlines %}
            <tr>
                <td>{{ reg_formation_online.id }}</td>
                <td>{{ reg_formation_online.EmailEtudiant }}</td>
                <td>
                    <a href="{{ path('reg_formation_online_show', {'id': reg_formation_online.id}) }}">show</a>
                    <a href="{{ path('reg_formation_online_edit', {'id': reg_formation_online.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reg_formation_online_new') }}">Create new</a>
{% endblock %}
