{{ form_start(formInscription) }}
<div class="row">
	<div class="col-md-6">
		{{ form_row(formInscription.nom) }}
	</div>
	<div class="col-md-6">
		{{ form_row(formInscription.prenom) }}
	</div>
</div>
{% if etudiant is defined %}
	{{ form_row(formInscription.formation) }}
{% endif %}
{{ form_row(formInscription.email) }}
{{ form_row(formInscription.plainPassword) }}
<div class="d-grid gap-2 mt-3">
	<button class="btn btn-primary" type="submit">
		Inscription
	</button>
</div>

<p class="mt-3">
	<small>
		Vous avez déjà un compte ?
		<a href=" {{ path('app_login')}} ">Connectez-vous ici</a>
	</small>
</p>

{{ form_end(formInscription) }}
