{% extends 'base.html.twig' %}

{% block title %}Index Question{% endblock %}

{% block body %}
<script type="text/javascript">
    function searchFunc()
    {
        let filter = document.getElementById('search-input').value.toUpperCase();
        let key = document.getElementById('key').value;
        let table = document.getElementById('myTable');
        let tr = table.getElementsByTagName('tr');

        for (var i = 0; i < tr.length; i++)
        {
            j=document.getEl
            let td = tr[i].getElementsByTagName('td')[key];

 

            if (td) {
                let textValue = td.textContent || td.innerHTML;
                if (textValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<table  class="tbl-ful">
    <tr>
        <td><b style="float:right">Search :</b></td>
        <td>
            <input onKeyup="searchFunc()" id="search-input" type="text" placeholder="Search...">
           <b>Search By :</b>
            <select id="key">
                <option value="1">Cours</option>
				<option value="2">Question</option>
               
            </select>
        </td>
    </tr>
</table>
    <br>
    <h1>Index Question</h1>
    <br>
    <table  id="myTable" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cours</th>
                <th>Question</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.cours }}</td>
                <td>{{ question.question }}</td>
                <td>
                    <a href="{{ path('question_show', {'id': question.id}) }}" class="btn btn-dark">Voir</a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}" class="btn btn-dark">Modifier</a>
                    <a href="{{ path('reponse_new', {'id_question': question.id}) }}" class="btn btn-dark">Ajouter une Réponse</a>
                       <a href="{{ path('reponse_index', {'id_question': question.id}) }}" class="btn btn-dark">Voir les Réponses</a>
                

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
{% endblock %}
