<div class="card card-comment py-2 px-3 mb-3">
	<div class="d-flex justify-content-between align-items-center">
		<div class="user d-flex flex-row align-items-center">
			<img src="{{ commentaire.user.photoDeProfil is null ? asset("img/photo-avatar-profil.png") : vich_uploader_asset(commentaire.user) }}" height="30" width="30" class="user-img rounded-circle mr-2">
			<span class="ms-3">
				<small class="font-weight-bold fw-bold">{{ commentaire.user.fullName }}</small>
			</span>
		</div>
		<small>{{ commentaire.dateModification|ago(locale='fr')}}</small>
	</div>
	<div class="body-card-comment my-2">
		<small class="font-weight-bold">{{ commentaire.contenu }}</small>
	</div>

	{% if commentaire.user == app.user %}
		<div class="action-card-comment d-flex align-items-center small">
		
			<a href="{{ path('app_commentaire_editer', { 'id_classedecours' : commentaire.cours.classeDeCours.id ,'id_cours' : commentaire.cours.id, 'id_commentaire' : commentaire.id }) }}" class="card-comment-link">
				Modifier
			</a>

			<a href="#" class="ms-2 card-comment-link" onclick="event.preventDefault(); confirm('Êtes-vous sûr(e) de vouloir supprimer ce commentaire ?') && document.getElementById('js-commentaire-delete-form').submit();">
				Supprimer
			</a>

			<form action="{{ path('app_commentaire_supprimer', { 'id_classedecours' : commentaire.cours.classeDeCours.id ,'id_cours' : commentaire.cours.id, 'id_commentaire' : commentaire.id }) }}" method="POST" id="js-commentaire-delete-form" style="display: none;">
				<input type="hidden" name="_method" value="DELETE">
			</form>
		</div>
	{% endif %}
</div>
